#Checklist {
    background-color: $background;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $blue;
}

#ChecklistTitle {
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
}

#ChecklistHead {
    background-color: $background;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: $blue;
    margin: 0px;
}

#ChecklistBody {
    background-color: $background;
}

#CheckBox {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    top: 2px;
    position: relative; 
    border-color: $blue;
    background-color: $background-dark;
}

#CheckBoxLabel[alt-font=true] {
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
}

#CheckBoxIndicator {
    background-color: $background-dark;
    border-radius: 1px;
}

#CheckBoxIndicator[hover=true] {
    background-color: $background;
}

#CheckBoxIndicator[active=true] {
    background-color: $blue;
}
