$icon_path: "/home/jjs/projects/python/scout/client/data/icons";

@import "colors";
@import "checklist";
@import "login";


QWidget {
    font-size: 22px;
    font-weight: bold;
    font-family: "Rajdhani", Arial, sans-serif;
    color: $foreground;
    border: none;
    margin: 0px;
}

QStackedWidget {
    background-color: $background-dark;
}

QLineEdit {
    background-color: $background-dark;
    padding: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: $foreground;
}

IconButton {
    outline: 3px solid $background-dark;
    outline-offset: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: $background-dark;
    background-repeat: no-repeat;
    background-position: center;
}

#AddButton {
    border-color: $green;
}

#AddButton[hover=true] {
    background-color: $background;
}

#AddButton[active=true] {
    background-color: $green;
}

#BackButton {
    border-color: $red;
}

#BackButton[hover=true] {
    background-color: $background;
}

#BackButton[active=true] {
    background-color: $red;
}

#AcceptButton {
    border-color: $blue;
}

#AcceptButton[hover=true] {
    background-color: $background;
}

#AcceptButton[active=true] {
    background-color: $blue;
}

#DeleteButton {
    border-color: $red;
}

#DeleteButton[hover=true] {
    background-color: $background;
}

#DeleteButton[active=true] {
    background-color: $red;
}

#CloseButton {
    border-color: $red;
}

#CloseButton[hover=true] {
    background-color: $background;
}

#CloseButton[active=true] {
    background-color: $red;
}

#MenuButton {
    border-color: $blue;
}

#MenuButton[hover=true] {
    background-color: $background;
}

#MenuButton[active=true] {
    background-color: $blue;
}

#OpenButton {
    border-color: $blue;
}

#OpenButton[hover=true] {
    background-color: $background;
}

#OpenButton[active=true] {
    background-color: $blue;
}

#UpDownButton {
    border-color: $yellow;
}

#UpDownButton[hover=true] {
    background-color: $background;
}

#UpDownButton[active=true] {
    background-color: $yellow;
}

#EditButton {
    border-color: $yellow;
}

#EditButton[hover=true] {
    background-color: $background;
}

#EditButton[active=true] {
    background-color: $yellow;
}

#PullButton {
    border-color: $yellow;
}

#PullButton[hover=true] {
    background-color: $background;
}

#PullButton[active=true] {
    background-color: $yellow;
}

#DuplicateButton {
    border-color: $purple;
}

#DuplicateButton[hover=true] {
    background-color: $background;
}

#DuplicateButton[active=true] {
    background-color: $purple;
}

#PushButton {
    border-color: $purple;
}

#PushButton[hover=true] {
    background-color: $background;
}

#PushButton[active=true] {
    background-color: $purple;
}

#Workspace {
    background-color: $background;
    qproperty-gridColor: $background-light;
    qproperty-lineColor: $foreground;
}

#ProjectName {
    background-color: $background;
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $purple;
    color: $foreground;
}

#ProjectNameAlt {
    background-color: $background;
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $purple;
    color: $foreground;
}

#TextInputLabel {
    font-family: "Orbitron", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

#TextInputLabel {
    font-size: 18px;
}

#BorderlessContainer {
    background-color: $background;
}

#Container {
    background-color: $background;
    border-color: $foreground;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

#Dialog {
    background-color: $background;
    border-color: $foreground;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

#TabDialog {
    background-color: $background;
    border-color: $foreground;
    border-style: solid;
    border-width: 2px;
    // border-width: 0px 2px 2px 2px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#TransparentContainer {
    background-color: transparent;
}

#CreateChecklistButton {
    background-color: $background-dark;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: $blue;
}

#CreateChecklistButton[hover=true] {
    background-color: $background;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $blue;
}

#CreateChecklistButtonIndicator {
    background-color: $blue;
    border-radius: 6px;
}

#CreateChecklistDestination {
    background-color: $foreground;
    border-radius: 7px;
}

QScrollBar:vertical {
    border: none;
    background: $background;
    width: 10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: $blue;
    min-height: 20px;
    border-radius: 2px;
    margin-left: 5px;
}

QScrollBar::handle:vertical:hover {
    background: $foreground;
}

QScrollBar::handle:vertical:pressed {
    background: $foreground;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QTabWidget::tab-bar {
    min-width: 999999px;
    background-color: $background;
}

QTabBar::tab:selected {
    background-color: $foreground;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: $background;
}

QTabBar::tab {
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
    background-color: $background;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#SubTabBar::tab:selected {
    background-color: $foreground;
    border-radius: 0px;
    color: $background;
}

#SubTabBar::tab {
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
    border-radius: 0px;
    background-color: $background;
}

#PickerItem {
    background-color: $background;
    font-family: "Orbitron", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $purple;
    color: $foreground;
}

#PickerItem:checked {
    background-color: $purple;
    color: $background;
}
