$background: #1E1E2E;
$background-light: #2f2f40;
$background-dark: #07051A;
$foreground: #BAC2DE;
$foreground-dim: #535568;
$foreground-darker: #535568;
$black: #45475A;
$red: #F38BA8;
$red-dim: #e295a9;
$green: #A6E3A1;
$green-dim: #cad8c8;
$yellow: #F9E2AF;
$blue: #89B4FA;
$blue-light: #bce6ff;
$purple: #CBA6F7;
$cyan: #94E2D5;
$white: #BAC2DE;

$add-icon: $green;
$add-icon-hover: $green;
$add-icon-active: $background-dark;

$back-icon: $red;
$back-icon-hover: $red;
$back-icon-active: $background-dark;

$accept-icon: $blue;
$accept-icon-hover: $blue;
$accept-icon-active: $background-dark;

$install-icon: $yellow;
$install-icon-hover: $yellow;
$install-icon-active: $background-dark;

$delete-icon: $red;
$delete-icon-hover: $red;
$delete-icon-active: $background-dark;

$close-icon: $red;
$close-icon-hover: $red;
$close-icon-active: $background-dark;

$menu-icon: $blue;
$menu-icon-hover: $blue;
$menu-icon-active: $background-dark;

$open-icon: $blue;
$open-icon-hover: $blue;
$open-icon-active: $background-dark;

$updown-icon: $yellow;
$updown-icon-hover: $yellow;
$updown-icon-active: $background-dark;

$edit-icon: $yellow;
$edit-icon-hover: $yellow;
$edit-icon-active: $background-dark;

$pull-icon: $yellow;
$pull-icon-hover: $yellow;
$pull-icon-active: $background-dark;

$push-icon: $purple;
$push-icon-hover: $purple;
$push-icon-active: $background-dark;

$duplicate-icon: $purple;
$duplicate-icon-hover: $purple;
$duplicate-icon-active: $background-dark;
